body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Ubuntu', sans-serif;
}

.navbar-inverse {
	padding: 1px;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
	color: #bbbbbb;
}

.btn {
	font-size: 15px;
}

footer {
    margin: 50px 0;
}