body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Ubuntu', sans-serif;
}

.navbar-inverse {
	padding: 1px;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
	color: #bbbbbb;
}

#hr-style {
	border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#hr-style1 {
	border: 0; height: 0.5px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.pager li > a {
	border: 1px dotted #2e6da4;
}

.active_link, .pager li > a:hover {
	background-color: #3F729B !important;
    color: #ffffff !important;
}

footer {
    margin: 50px 0;
}