#load-screen {
	background-color: black;
	position: fixed;
	z-index: 10000;
	top:-50px;
	width: 100%;
}


#loading {
	width: 100%;
	height: 500px;
	margin: 10% auto;
	background: url(../images/loader5.gif);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
}
